@page

<h1>Cadastro de Clientes</h1>

<form>
    <fieldset id="fdsDadosPessoais">
        <legend>Dados Pessoais do Cliente</legend>
        <label for="txtNome">Nome:</label>
        <input type="text" id="txtNome" maxlength="255" /> <br />

        <label for="txtDataNascimento">Data de Nascimento:</label>
        <input type="date" id="txtDataNascimento" /><br />
        
        <label for="txtNif">Número de Identificação Fiscal:</label>
        <input type="text" id="txtNif" placeholder="999.999.999" maxlength="9" />
    </fieldset>

    <fieldset id="fdsDadosMorada">
        <legend>Dados da Morada</legend>

        <label for="dpbDistrito">Distrito:</label>
        <select name="Distrito" id="dpbDistrito">
            <option value="Porto">Porto</option>
            <option value="Lisboa">Lisboa</option>
            <option value="Setubal">Setúbal</option>
            <option value="Évora">Évora</option>
        </select>

        <label for="dpbLocalidade">Localidade:</label>
        <select name="Localidade" id="dpbLocalidade">
            <option value="Porto">Porto</option>
            <option value="Lisboa">Lisboa</option>
            <option value="Setubal">Setúbal</option>
            <option value="Évora">Évora</option>
        </select> <br />

        <label for="txtCodigoPostal">Código Postal:</label>
        <input type="text" id="txtCodigoPostal" placeholder="9999-999" maxlength="7" /> <br/>

        <label for="txtEndereco">Endereco:</label><br />
        <textarea id="txtEndereco" cols="100" rows="3"></textarea>

    </fieldset>

    <fieldset id="fdsCredenciais">
        <legend>Credenciais</legend>
        <label for="txtUserName">Username:</label>
        <input type="text" id="txtUserName" maxlength="255" /> <br />
        <label for="pwdPass">Password:</label>
        <input type="password" id="pwdPass" maxlength="32" />
    </fieldset>
</form>
