<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="regraNovaAtiva" value="true"/>
		<add key="chaveExemplo" value="lida do app.config dos testes"/>

		<add key="ativarPromocoes" value="true"/>

		<!--Valores para o menor caso-->
		<add key="numeroMinimoDias" value="30"/>
		<add key="valorDescontoMinimo" value="10"/>

		<!--Valores para o maior caso-->
		<add key="numeroMaximoDias" value="60"/>
		<add key="valorDescontoMaximo" value="20"/>


		<!--Introdução ao DependencyInjection-->
		<!--UsarRegraPercentual-->
		<add key="RegraDescontoValida" value="Combinada"/>

		<!--Exemplos Configuracao Dependency Injection - Apenas Exemplos, sem uso por agora.-->
		<add key="IDesconto" value="Amazonia.DAL.Desconto.DescontoPercentual"/>
		<add key="IDatabase" value="Microsoft.SqlServer"/>
		<add key="ILog" value="Log4Net"/>

	</appSettings>
</configuration>